[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
"psycopg2" = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"
requests = "*"
"beautifulsoup4" = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.7"
