<!DOCTYPE html>
<html ng-app="WordcountApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Wordcount</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <style>
        .container {
            max-width: 1000px;
        }
    </style>
    <script src="main.js"></script>
</head>

<body ng-controller="WordcountController">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <h1>Wordcount XX</h1>
                <form role="form" ng-submit="getResults()">
                    <div class="form-group">
                        <input type="text" ng-model="url" name="url" class="form-control" id="url-box" style="max-width: 300px;" placeholder="Enter URL..."
                            required>
                    </div>
                    {% raw %}
                    <button type="submit" class="btn btn-primary" ng-disabled="loading">{{ submitButtonText }}</button>
                    {% endraw %}
                </form>
                <div class="alert alert-danger" role="alert" ng-show="urlerror">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    <span>There was an error submitting your URL.<br>Please try again.</span>
                </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <h2>Frequencies</h2>
                <br>
                <div id="results">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Word</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% raw %}
                            <tr ng-repeat="(key, val) in wordcounts">
                                <td>{{ val[0] }}</td>
                                <td>{{ val[1] }}</td>
                            </tr>
                            {% endraw %}
                        </tbody>
                    </table>
                </div>
                <img src="{{ url_for('static', filename='spinner.gif') }}" ng-show="loading" class="col-sm-3 col-sm-offset-4">
            </div>
        </div>
        <br>
        <word-count-chart data="wordcounts" ng-show="charted"></word-count-chart>
    </div>
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="//code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>

</html>